// normal: 400, semi-bold: 600, bold: 700

body {
  padding-top: 100px;
  color: black;
}

.logo {
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 9px;
  color: black;
}

h1 {
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 18px;
}

h3 {
  line-height: 27px
}

section {
  margin-bottom: 18px;
}

.email {
  unicode-bidi: bidi-override; direction: rtl;
}

// sass
@mixin rotate($degrees) {
   -moz-transform: rotate($degrees);  
     -o-transform: rotate($degrees);  
-webkit-transform: rotate($degrees);
           filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
       -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
             zoom: 1;
}


.notfound img {
  @include rotate(180deg);
}